.NavItems {
  align-items: center;
  display: flex;
  height: 100%;
  flex-flow: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 550px) {
  .NavItems {
    flex-flow: row;
  }
}
